* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial;
}
nav {
    background: black;
}

ul {
    display: flex;
    list-style: none;
}

li {
    flex-grow: 1;
}
a {
    display: block;
    padding: 15px 25px;
    text-align: center;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
border-bottom: 4px solid black;
    letter-spacing: 3px;
}
a:hover {
    color: yellow;
}

section {
    padding-top: 30px;
    text-align: center;

}
/*.active {*/
/*    border-bottom-color: yellow;*/
/*}*/
.home_selected {
    border-bottom-color: yellow;
}

.news_selected {
    border-bottom-color: orange;
}
.contact_selected {
    border-bottom-color: orangered;
}

